.menu-btn{
  position: absolute;
  z-index: 1;
  right: 1.5rem;
  top: 1.5rem;
  height: 20px;
  width: 35px;
  cursor: pointer;
  @include transition-ease(0.5s);
  

  &__burger {
    position: absolute;
    top: 0.5rem;
    right: 0;
    z-index: 1;
    background: $clr-light;
    width: 30px;
    height: 4px;
    @include transition-ease(0.5s);
     
    &:hover::before,
    &:hover::after,
    &:hover{
      background: $clr-speacial;
    }

    &::before{
      content: '';
      @extend .menu-btn__burger;
      top: -8px;
      width: 35px;

    }
    &::after{
      content: '';
      @extend .menu-btn__burger;
      top: 8px;;
      width: 25px;
    }

    &.open{
      transform: rotate(720deg);
      background:transparent;

      &::before{
        width: 30px;
        background: $clr-speacial;
        transform: rotate(45deg) translate(5px, 8px);
      }
      &::after{
        width: 30px;
        background:$clr-speacial;
        transform: rotate(-45deg) translate(3px, -7px);
      }
    }
  }
}


.nav {
position: fixed;
top: 0;
left: 0;
width: 100vw;
opacity: 0.95;
visibility: hidden;

&.open {
  visibility: visible;
}

.menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: $bg-dark;
  list-style-type: none;
  padding-right: 1rem;
  transform: translateY(-100%);
  @include transition-ease(0.5s);

  &.open {
    transform: translateY(0);
  }

  &__item {
    transform: translateX(100vw);
    
    @include transition-ease(0.5s);

    &.open {
     transform: translateX(0); 
    }

    &.active > a {
      color: $clr-speacial;
    }
  }

  &__link {
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 2rem 0;
    font-weight: 300;
    @include transition-ease(0.5s);

    &:hover {
      color: $clr-speacial;
    }
  }
}
}

/*************
Responsive
*************/

@media only screen and (min-width: 700px){

.menu-btn{
  visibility: hidden;
}

.nav {
  visibility: visible;
  position: absolute;

  .menu-nav {
    display: block;
    transform: translateY(0);
    height: 100%;
    background: transparent;
    text-align: right;

    &__item {
      display: inline;
      padding-right: 2rem;
    }

    &__link {
      font-size: 1.5rem;
    }
  }
}

}