
.home{
  @include columnCenter;
  justify-content: flex-start;
  padding-top: 10em;
  height: 100vh;
  font-size: 1.5em;

  &__name{
    font-size: 1.25em;
    margin-bottom: 2rem;

    & > span{
      font-family: 'Girassol', cursive;
      font-weight:400;
    }

  }

  &__link{
    margin: 1em 3em 0  0;
    @include columnCenter;
    &__btn{
      margin-left : 3em;
      padding: 1em 1em 0 1em;
      text-decoration: none;
      background-image: -webkit-linear-gradient($clr-speacial,$clr-speacial);
      background-image: -o-linear-gradient($clr-speacial, $clr-speacial);
      background-image: linear-gradient($clr-speacial,$clr-speacial);
      background-repeat: no-repeat;
      background-position: bottom center;
      background-size: 0% 3px;
      // transition: background-size 500ms ease-in-out;
    
      &:hover{
        background-size: 75% 3px; 
        color: inherit;
        @include transition-ease(500ms); 
      }
    }
  }
} 


/*************
  Responsive
*************/

@media only screen and (min-width:520px){
  .home__link{
      flex-direction: row;
    }

}

@media only screen and (min-width:800px){
  .home{
    &__name{
      font-size: 1.5em;
    }

    &__link{
      font-size: 1.1em;
    }
  }
}